@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");

body {
  font-family: "Plus Jakarta Display", sans-serif !important;
  color: #1d2025;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* border: 0.5px solid red; */
}

.gradient-bg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B5B6B7', endColorstr='#FEFFF9', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(254, 255, 249, 1) 0%,
    rgba(218, 223, 223, 1) 50%,
    rgba(181, 182, 183, 1) 100%
  );
}
.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

a {
  text-decoration: none;
}

.about--mission {
  width: 567px;
  height: 125.45px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.005em;
  color: #23273c;
}

.about--about {
  width: 853px;
  height: 347px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #000000;
}

.about--believe {
  width: 300px;
  height: 390px;
  background: #23273c;
  box-shadow: 0px 4px 10px rgba(35, 39, 60, 0.35);
  border-radius: 6px;
}

.about--believe > p {
  width: 229px;
  height: 338px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.005em;
  color: #ffffff;
  padding: 10px;
}

.news-input {
  text-indent: 15px;
}
.envelop-icon {
  position: absolute;
  top: 11px;
  left: 6px;
  z-index: 1;
  color: black;
}

.home-card {
  background: #f8f8ff !important;
  box-shadow: 0px 18px 48px rgba(0, 0, 0, 0.07) !important;
  border-radius: 5px !important;
  /* height: 358px; */
  /* width: 896px; */
}

.greeting--home {
  /* width: 130px; */
  /* height: 60px; */
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
}

.greeting--hello {
  /* width: 163px; */
  /* height: 22px; */
  font-weight: 500;
  font-size: 30px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.user--img {
  height: auto;
  width: 60px;
}
.bal-inco-exp {
  background: #1a2137;
  border-radius: 8px;
  padding: 10px;
}
.home--income {
  border-radius: 20px !important;
  padding: 10px;
  text-decoration: none;
}

.icon--img {
  height: auto;
  width: 40px;
}

.export--share {
  border-radius: 20px;
  background: #dededf !important;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.03) !important;
  border-radius: 20px !important;
  padding: 10px;
}

.income-title,
.expense-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #1d2025;
  opacity: 0.5;
}

.income-value {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #41dc65;
}

.expense-value {
  margin-left: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff5460;
}

.home--balance {
  border-radius: 8px !important;
  background: #3ec3d5 !important;
}

.balance {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #fcfcfd;
}

.balance--value {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.37px;
  color: #fcfcfd;
}

.total {
  margin-top: 20px;
}

.total-categories {
  width: 166px;
  height: 28px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.37px;
  color: #1a2537;
}

.see-all {
  width: 44px;
  height: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #3ec3d5;
  margin-left: 130px !important;
}

.mobile--nav {
  /* position: fixed; */
  /* top: 363px; */
  bottom: 0;
  z-index: 1;
}

.add--button {
  position: absolute;
  top: -50px;
  margin-left: 135px;
  margin-right: 135px;
}

@media (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}

@media (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /*Login and sign-up Background image sizing */
  .bg-img {
    background-image: url(./images/background-image.svg) !important;
    background-size: contain !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
  }

  .about--mission {
    width: 297px;
    height: 109px;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.025em;
    color: #23273c;
  }

  .about--about {
    width: 297px;
    height: 295px;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: justify;
    letter-spacing: 0.025em;
    color: #23273c;
  }

  .home-card {
    background: #dededf !important;
    box-shadow: 0px 18px 48px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
  }
  .greeting--home {
    visibility: hidden;
    position: relative;
  }

  .greeting--home::before {
    visibility: visible;
    position: absolute;
    content: "Hello, Maria";
    font-weight: 400;
    font-size: 17px;
    color: #1d2025;
  }

  .greeting--hello {
    visibility: hidden;
    position: relative;
  }

  .greeting--hello::before {
    content: "Home";
    position: absolute;
    visibility: visible;
    /* width: 95px;
    height: 44px; */
    font-weight: 700;
    font-size: 34px;
    letter-spacing: -0.37px;
    color: #1d2025;
  }

  .home--balance {
    width: 100%;
    border-radius: 24px;
  }

  .user--img {
    width: 60px !important;
    border-radius: 50%;
    margin-top: 15px;
  }

  .bell--compo {
    position: absolute;
    right: 80px;
    top: 19px;
  }

  .total {
    margin-top: -50px;
  }

  .total-categories {
    width: 166px;
    height: 28px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.37px;
    color: #1d2025;
  }

  .see-all {
    width: 44px;
    height: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #3ec3d5;
    margin-left: 80px !important;
  }

  .home--income {
    background: #dededf !important;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.03);
  }

  .income-value,
  .expense-value {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #1d2025;
  }

  .income--card {
    background: #40db6e;
    box-shadow: 0px 18px 42px rgba(51, 201, 255, 0.2);
    border-radius: 20px;
  }

  .expense--card {
    background: rgba(255, 84, 96, 1);

    box-shadow: 0px 18px 42px rgba(51, 201, 255, 0.2);
    border-radius: 20px;
  }

  .income--fig {
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    color: #1d2025;
  }

  .income-username {
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    color: #1d2025;
  }

  /* Budget  */

  .budget-header {
    height: 122px;
    width: 375px;
    border-radius: 20px;
    /* SPENDITURE GRAY */

    background: #dededf;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
  }

  .budget--calender .col-sm-2 > .btn {
    height: 32px;
    width: 46px;
    border-radius: 8px;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }

  .budget--calender .col-sm-2 > p {
    font-size: 10px;
    line-height: 11px;
  }

  .w-90 {
    width: 90%;
  }
  .w-43 {
    width: 43%;
  }

  .bdgt-card {
    border-radius: 20px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.02);
    background-color: #dededf;
  }

  .bdgt-fs {
    font-size: 0.8rem;
  }

  .bdgt-progress {
    height: 5px;
    background-color: #1d2025;
  }

  .bdgt-bar {
    background-color: #33c9ff;
  }

  .bdgt-bar-two {
    background-color: #ff5460;
  }

  .create--budget {
    border-radius: 10px;
    /* SPENDITURE GRAY */

    background: #dededf;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
  }
}

/* From main.css */
.home-main.row {
  margin: 0px;
}

#logo {
  align-items: flex-start;
}

.menu-list > span {
  color: #999999;
}
ul#nav {
  gap: 56px;
  align-items: flex-start;
  flex-grow: 1;
}

ul {
  list-style: none;
}

.menu-list {
  display: inline-flex;
  gap: 15px;
  text-decoration: none;
  padding: 8px 35px;
  background: transparent;
}

.menu-list:focus,.menu-list:hover,.menu-list:active{
  padding: 8px 35px;
  background: #23273C;
  border-radius: 8px;
}


.left-sidebar {
  display: flex;
  flex-direction: column;
  border-radius: 0px 20px 20px 0px;
}
.right-sidebar.col-lg-2 {
  display: flex;
  padding: 0px;
}
.right-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.right-items {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 15px;
}
.bell {
  height: auto;
  width: 15px;
}

.download-store {
  background: #fcfcfd;
  box-shadow: 0px 4px 12px rgba(35, 39, 60, 0.05);
  border-radius: 5px;
}

.download-store h4 {
  font-size: 10px;
  text-align: center;
}

.recent {
  background: #fcfcfd;
  box-shadow: 4px 4px 12px rgba(35, 39, 60, 0.05);
  border-radius: 5px;
}

/* Toggle on and off */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Budget  */

.w-90 {
  width: 90%;
}
.w-43 {
  width: 43%;
}

.bdgt-card {
  border-radius: 20px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.02);
  background-color: #dededf;
}

.bdgt-fs {
  font-size: 0.8rem;
}

.bdgt-progress {
  height: 5px;
  background-color: #1d2025;
}

.bdgt-bar {
  background-color: #33c9ff;
}

.bdgt-bar-two {
  background-color: #ff5460;
}

/* End of Budget */

/* Creating budget */

.bank-cat {
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  background-color: #dededf;
  width: 45%;
  height: 32vh;
}

.bank-cat:active,
.bank-cat:focus {
  border: 2px solid #3ec3d5;
  outline: none;
  box-shadow: none;
  color: #ff5460;
}
.bank-icon-con {
  background-color: #f7f7f7;
  width: 50px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.budget-label {
  font-size: 0.7rem;
}

#create-bdgt-name,
#enter-bdgt,
#bdgt-duration,
#account-name,
#starter-amount,
#enter-payee-name,
#enter-transaction-amount {
  outline: none;
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 0.4px solid #1d202523;
}

#create-bdgt-name::placeholder,
#enter-bdgt::placeholder {
  opacity: 0.25;
}

.w-60 {
  width: 60%;
}

.bdgt-submit {
  background-color: #c3c2c8;
  color: #dededf;
  border-radius: 10px;
}

select {
  background-color: #c3c2c8;
  border-radius: 10px;
  color: #1d2025;
}

.bdgt-submit:hover,
.bdgt-submit:active,
.account-submit-btn {
  background-color: #3ec3d5;
  color: #1d2025;
}
/* End of create budget */
/* .menu-list:active{
  border-top: 2px solid #ff5460;
} */

.empty-budget-header {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.w-20 {
  width: 20%;
}

.year {
  cursor: pointer;
  font-size: 0.625rem;
}

.year:hover,
.year:active,
.year:focus,
.sp-btn {
  color: #ff5460;
}

.mnth button {
  border-radius: 8px;
  background-color: #1d202509;
  font-weight: 500;
}

.mnth button:focus,
.mnth button:active {
  background-color: #ff5460;
  outline: none;
  box-shadow: none;
}

@media (prefers-color-scheme: light) {
  .empty-budget-header,
  .empty-budget-main {
    color: #1d2025;
  }
}

@media (prefers-color-scheme: dark) {
  .empty-budget-header {
    background-color: #1a2527;
    color: #fcfcfd;
  }
  .empty-budget-main {
    color: #fcfcfd;
    background-color: #e5e5e5;
  }
}

/* End of empty budget */

/* ACcount creation */
#account-name::placeholder,
#starter-amount::placeholder,
#enter-payee-name::placeholder,
#enter-transaction-amount::placeholder {
  opacity: 0.12;
}

.fs-8 {
  font-size: 0.675rem;
}

.congratulations-box {
  background: linear-gradient(342.85deg, #7562ff -23.53%, #33c9ff 120.42%);
  color: #f7f7fa;
}

.opacity-40 {
  opacity: 0.4;
}

.date-border {
  border-left: 0.5px solid #f7f7fa40;
}
/* End of Account creation */

/* Transaction View */

.btn-edit {
  border: 1px solid #ff5460;
  filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  color: #ff5460;
}

.w-80 {
  width: 80%;
}

.border-dashed {
  border: 1px dashed #1d2025;
}

.rounded-nav {
  border-radius: 10px;
  background-color: #dededf;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
}

.opacity-80 {
  opacity: 0.8;
}

/* Transaction type expense */
.btn-forward-arrow {
  background-color: #3ec3d5;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.07);
  width: 45px;
  height: 45px;
}
