
*{
  top: 0px;
}


@font-face{
  font-family: 'Plus Jakarta';
  src: url("./fonts/PlusJakartaSans[wght].ttf");

}
@font-face{
  font-family: 'Plus Jakarta Bold';
  src: url("./fonts/PlusJakartaSans-ExtraBold.ttf");

}

:root {
  --font-family: 'Plus Jakarta', sans-serif; 
  --font-family-bold: 'Plus Jarkata Bold', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



/* Budget  */

.w-90{
  width: 90%;
}
.w-43{
  width: 43%;
}

.bdgt-card{
  border-radius: 20px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.02);
  background-color: #dededf;
}

.bdgt-fs{
  font-size: 0.8rem;
}

.bdgt-progress{
  height: 5px;
  background-color: #1d2025;
}

.bdgt-bar{
  background-color: #33c9ff;
}

.bdgt-bar-two{
  background-color: #ff5460;
}


/* End of Budget */

/* Creating budget */

.bank-cat{
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  background-color: #dededf;
  width: 45%;
  height: 30vh;
}

.bank-cat:active, .bank-cat:focus{
  border: 2px solid #3ec3d5;
  outline: none;
  box-shadow: none;
  color: #ff5460;
}
.bank-icon-con{
  background-color: #f7f7f7;
  width: 50px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.budget-label{
  font-size: 0.7rem;
}

#create-bdgt-name, #enter-bdgt, #bdgt-duration, #account-name, #starter-amount{
  outline: none;
  border-radius: 0;
  box-shadow: none;
  border:none;
  border-bottom: 0.4px solid #1d202523;
}

#create-bdgt-name::placeholder, #enter-bdgt::placeholder{
  opacity: 0.25;
}

.w-60{
  width: 60%;
}

.bdgt-submit{
  background-color: #c3c2c8;
  color: #dededf;
  border-radius: 10px;
}

select{
  background-color: #c3c2c8;
  border-radius: 10px;
  color: #1d2025;
}



.bdgt-submit:hover, .bdgt-submit:active, .account-submit-btn{
  background-color: #3ec3d5;
  color: #1d2025;
}
/* End of create budget */
/* .menu-list:active{
  border-top: 2px solid #ff5460;
} */

.empty-budget-header{
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

 .w-20{
  width: 20%;
 }

.year{
  cursor:pointer;
  font-size: .625rem;
}

.year:hover, .year:active, .year:focus, .sp-btn{
  color: #ff5460 ;
}
 
.mnth button{
  border-radius: 8px; 
  background-color: #1d202509; 
  font-weight: 500 ;
  
}

.mnth button:focus, .mnth button:active{
  background-color:  #ff5460;
  outline: none;
  box-shadow: none;
}

@media (prefers-color-scheme: light) {
  .empty-budget-header,.empty-budget-main{
    color: #1d2025;
  }

}

@media (prefers-color-scheme: dark){
  .empty-budget-header{
    background-color: #1a2527;
    color: #fcfcfd;
  }
  .empty-budget-main{
    color: #fcfcfd;
    background-color: #e5e5e5;
  }
}

/* End of empty budget */

/* ACcount creation */
#account-name::placeholder, #starter-amount::placeholder{
  opacity: 0.12;
}

.fs-8{
  font-size: 0.675rem;
}

.congratulations-box{
  background: linear-gradient(342.85deg, #7562ff -23.53%, #33c9ff 120.42%);
  color: #f7f7fa;
}

.opacity-40{
  opacity: 0.4;
}

.date-border{
  border-left: 0.5px solid #f7f7fa40;
}
/* End of Account creation */