.spenditure__download {
  background-color: #23273c;
}

.spenditure__download.section__padding{
    padding: 25px;
}


.spenditure__download-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spenditure__download-content-header h1 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 48px;
  line-height: 78px;
  color: #ffffff;
  text-align: center;
}

.spenditure__download-content-p p {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  color: #fcfcfd;
}
.spenditure__download-content-btn {
  display: flex;
  margin-top: 1rem;
}
.spenditure__download-content-btn div{
    padding: 0px 18px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .spenditure__download-content-header h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 163.15%;
    /* or 39px */
    align-items: center;
    padding: 0px;
    color: #fcfcfd;
  }
  .spenditure__download-content-p p {
    font-weight: 500;
    font-size: 14px;
    line-height: 163.15%;
    /* identical to box height, or 23px */
    align-items: center;
    margin-bottom: 0px;
    color: #fcfcfd;
  }
  .spenditure__download-content-btn{
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
  }
  .spenditure__download-content-btn div{
      padding: 0px 18px;
  }
  .img{
      height: auto;
      width: 150px;
  }

  .spenditure__download.section__padding{
      padding: 10px;
  }

}
